{% extends "base.html" %}


{% block content %}
<h1>Tvoj profil</h1>
<form action="/profile/edit" method="post">
    <div class="mb-3">
      <label for="uname" class="form-label">Uporabniško ime</label>
      <input type="text" class="form-control" id="uname" value="{{ user_data.name }}" disabled>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="{{ user_data.email }}">
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <button type="reset" class="btn btn-secondary">Počisti</button>
</form>

{% endblock content %}